*{
    box-sizing: border-box;
}

p{
    text-align: center;
    font-size: 30px;
    color: sienna;
}
img {
    display: inline-block;
    width: 150px;
    float: left;
    height: 150px;
    border: 2px solid rgb(35, 83, 97);
    padding: 1%;
    margin-right: 10%;

  }
  #container{
      margin-left: 20%;
  }
  #results{
      clear: both;
      padding: 3%;
      color: rgb(35, 83, 97);
  }

 